<div class="card">
  <img class="card-img-top" [src]="player.avatar" (error)="updateUrl()" alt="Card image cap" (click)="goToPlayerDetails()">
  <div class="card-body" (click)="goToPlayerDetails()">
    <h6 class="card-title">{{player.playerName}}</h6>
  </div>
  <div>
    <button *ngIf="playerFromLeague" type="button" class="btn btn-warning" (click)="goToEdit()">Editar</button>
    <button *ngIf="playerFromLeague" type="button" class="btn btn-danger" (click)="emitDelete()">Borrar</button>
  </div>
</div>
