.navbar {
  padding: 0;
}
h3 {
  padding: 5px 5px 5px 10px;
  color: rgba(255, 255, 0, 1);
}

.title {
  width: 200px;
}

/*@media(max-width: 1300px) {
  .title {
    background-color: darkblue;
    width: 100%;
  }
}*/

.linklist {
  padding: 10px 15px 10px 15px;
  width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media(max-width: 1300px) {
  .linklist {
    margin: 0 auto;
    max-width: 70%;
  }
}


.newlink {
  border-radius: 10px;
  padding: 0 10px 0 10px;
  border: 1px solid rgba(255,255,255, 1);
}
.newlink:hover {
  background-color: darkblue;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  border: 1px solid rgba(255,255,255, 1);
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255, 1);
}
