.main__details {
  margin-top: 20px;
}

.players__component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h2 {
  text-align: center;
}

.players {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 30px;
}
