<div class="main__details">

  <div class="league__component">
    <app-main-leagues [league]="league"></app-main-leagues>
  </div>

  <div class="container nav">
    <div class="form-group">
      <input type="text" (keyup)="search()" class="form-control search" id="name" [(ngModel)]="toSearch" placeholder="Buscar">
    </div>
  </div>

  <div class="container teams" *ngIf="players.length > 0">
    <h3>Equipos de {{league.leagueName}}</h3>
    <div class="teams__component">
      <app-main-teams *ngFor="let team of teams" [team]="team" [fromLeague]="fromLeague" (deleteEmitter)="removeTeam($event)"></app-main-teams>
    </div>
  </div>

  <div class="container players" *ngIf="players.length > 0">
    <h3>Jugadores de {{league.leagueName}}</h3>
    <div>
      <div class="players__component">
        <app-main-players *ngFor="let player of players" [player]="player" [fromLeague]="fromLeague" (deleteEmitter)="removePlayer($event)"></app-main-players>
      </div>
    </div>
  </div>

  <div class="error" *ngIf="players.length === 0 && teams.length === 0">
    <h3>Ups, no esta</h3>
  </div>

</div>
