.teams__component, .players__component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main__details {
  margin-top: 20px;
}

h3 {
  text-align: center;
}

.teams, .players {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 30px;
}

.nav {
  margin-bottom: 0;
}

.search {
  border: 1px solid rgba(0, 123, 255, 1);
}
